<div class="row">
  <h2>My Top 5 Songs</h2>
  <% @songs.each do |song| %>
  <div class="well well-lg">
    <h2>
      <%= link_to song.name, song %>
    </h2>
    <h3>
      by <%= link_to song.artist.name, song.artist %>
    </h3>
    <p>
      <% song.rating.times do %>
      <span class="glyphicon glyphicon-star"></span>
      <% end %>
    </p>

  </div>
<% end %>
</div>
